In [1]:
#Load relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
#Load datasets
books = pd.read_csv('books.csv', error_bad_lines=False, index_col=0)

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

In [49]:
books.head()

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

Now, let's check whether there are any missing values.

In [50]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11123 entries, 1 to 45641
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               11123 non-null  object
 1   authors             11123 non-null  object
 2   average_rating      11123 non-null  float64
 3   isbn                11123 non-null  object
 4   isbn13              11123 non-null  int64
 5   language_code       11123 non-null  object
 6     num_pages         11123 non-null  int64
 7   ratings_count       11123 non-null  int64
 8   text_reviews_count  11123 non-null  int64
 9   publication_date    11123 non-null  object
 10  publisher           11123 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 1.0+ MB

It doesn't seem like there are any missing values. However, there are a few things that need to be done (in no particular order):
1. Extract the series and series number from the title so the title column contains only the book title
2. Convert the publication_date values to a datetime object
3. Fix the '  num_pages' column name

To tackle the series, I'm going to construct a function to extract the series from the title column.

In [51]:
def extract(s, to_find, keep=False):
    """ Extract a substring contained in parenthesis.
    
    Parameter
    ---------
    s: string, required
    String from whom its substring will be extracted.
    
    find: required
    
    keep: book, optional, default is False
    Boolean that dictates whether the parenthesis are kept or not.
    
    Return
    ------
    Substring that was originally in parenthesis within the string parameter s.
    """
    if len(to_find)==1:
        if keep==True:
            start = s.find(to_find[0])
            end = len(s)
        else:
            start = s.find(to_find[0]) + len(to_find[0])
            end = len(s)
    
    else:
        if keep == True:
            start = s.find(to_find[0])
            end = s.find(to_find[1]) + len(to_find[1])
        else:
            start = s.find(to_find[0]) + len(to_find[0])
            end = s.find(to_find[1])
            
    return s[start:end]

In [78]:
#Extract the Series name and number from the book title, and add it to a separate column
books.loc[:,'series'] = [extract(book, ['(',')']) if ('(' in book) else 'None' for book in books.loc[:,'title']]

#Extract the Series number from the series and add it to a separate column
books.loc[:,'series_num'] = [extract(serie, '#') if ('#' in serie) else np.nan for serie in books.loc[:,'series']]

#Remove the number from the Series column
books.loc[:,'series'] = [serie.replace(extract(serie, '#',keep=True),'').strip() if ('#' in serie) else 'None' for serie in books.loc[:,'series']]

In [79]:
#Delete the extracted substring from the book title
books.loc[:,'title'] = [book.replace(extract(book, ['(',')'], keep=True),'').strip() if ('(' in book) else book for book in books.loc[:,'title']]

Now, to change the publication_date to a datetime object.

In [56]:
#Convert values to datetime object
books['publication_date'] = pd.to_datetime(books['publication_date'])

ValueError: day is out of range for month

It looks like some date values are illogical. Let's look further into it.

In [80]:
#Looking into the specific dates whose dates weren't logical
books.query("publication_date=='6/31/1982' | publication_date=='11/31/2000'")

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,series,series_num
bookID,,,,,,,,,,,,,
31373,In Pursuit of the Proper Sinner,Elizabeth George,4.10,0553575104,9780553575101,eng,718,10608,295,11/31/2000,Bantam Books,Inspector Lynley,10
45531,Montaillou village occitan de 1294 à 1324,Emmanuel Le Roy Ladurie/Emmanuel Le Roy-Ladurie,3.96,2070323285,9782070323289,fre,640,15,2,6/31/1982,Folio histoire,None,NaN

Looking in goodreads, the dates in the dataframe are incorrect; those will be corrected.

In [81]:
#Correct the dates
books.loc[31373,'publication_date'] = '10/31/2000'
books.loc[45531, 'publication_date'] = '6/30/1982'

In [82]:
books.query("bookID==31373 | bookID==45531")

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,series,series_num
bookID,,,,,,,,,,,,,
31373,In Pursuit of the Proper Sinner,Elizabeth George,4.10,0553575104,9780553575101,eng,718,10608,295,10/31/2000,Bantam Books,Inspector Lynley,10
45531,Montaillou village occitan de 1294 à 1324,Emmanuel Le Roy Ladurie/Emmanuel Le Roy-Ladurie,3.96,2070323285,9782070323289,fre,640,15,2,6/30/1982,Folio histoire,None,NaN

In [83]:
#Convert values to datetime object
books['publication_date'] = pd.to_datetime(books['publication_date'])

In [84]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11123 entries, 1 to 45641
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               11123 non-null  object
 1   authors             11123 non-null  object
 2   average_rating      11123 non-null  float64
 3   isbn                11123 non-null  object
 4   isbn13              11123 non-null  int64
 5   language_code       11123 non-null  object
 6     num_pages         11123 non-null  int64
 7   ratings_count       11123 non-null  int64
 8   text_reviews_count  11123 non-null  int64
 9   publication_date    11123 non-null  datetime64[ns]
 10  publisher           11123 non-null  object
 11  series              11123 non-null  object
 12  series_num          2348 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(7)
memory usage: 1.5+ MB

In [85]:
#Rename '  num_pages' column without the leading spaces
books.rename(columns={'  num_pages':'num_pages'}, inplace=True)

In [86]:
books.sample(10)

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,series,series_num
bookID,,,,,,,,,,,,,
17506,La gata perdida = The Missing Cat,Chris L. Demarest/Berlitz Publishing Company,4.14,9812468234,9789812468239,spa,64,0,0,2006-08-15,Berlitz Kids,None,NaN
44539,Stir-Fry,Emma Donoghue,3.59,1555837239,9781555837235,eng,240,1565,97,2006-12-29,Alyson Books,None,NaN
5513,The Diary of Anne Frank,Frances Goodrich/Albert Hackett/Wendy Kesselman,4.06,082221718X,9780822217183,eng,70,1320,61,1998-10-01,Dramatists Play Service,None,NaN
34052,Collected Stories,Rudyard Kipling,4.06,1857151992,9781857151992,eng,911,13,3,1994-10-20,Everyman,None,NaN
38330,El Borbah,Charles Burns,3.94,1560976934,9781560976936,en-US,96,740,34,2006-01-17,Fantagraphics,None,NaN
37297,Eyes of Prey,John Sandford,4.18,0425214435,9780425214435,eng,358,18802,519,2007-03-06,G.P. Putnam's Sons,Lucas Davenport,3
42916,All Quiet on the Western Front,Erich Maria Remarque,3.97,0449231801,9780449231807,en-GB,256,64,4,1987-03-12,Fawcett Crest,None,NaN
19361,The Scarlet Letter and Other Writings,Nathaniel Hawthorne/Eugene Hudson Long/Seymour...,3.59,0393956539,9780393956535,eng,443,237,17,1978-02-01,W. W. Norton & Company,None,NaN
15438,Firefly,Piers Anthony,3.25,0380759500,9780380759507,eng,466,2420,128,1992-03-01,Avon Books,None,NaN
21557,Potshot,Robert B. Parker/Joe Mantegna,3.89,0553702467,9780553702460,eng,0,2,0,2003-04-01,RH Audio Price-less,Spenser,28

Let's take a deeper look into the language codes.

In [87]:
books.language_code.unique()

array(['eng', 'en-US', 'fre', 'spa', 'en-GB', 'mul', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       'ita', 'rus', 'msa', 'glg', 'wel', 'swe', 'nor', 'tur', 'gla',
       'ale'], dtype=object)

It looks like English is stratified into four categories: 'eng', 'en-US', 'en-GB', 'en-CA'. Let's change it all to 'eng' only.

In [88]:
#Change all the 'en-US', 'en-CA', 'en-GB' to 'eng' in language_code
books.loc[(books.language_code == 'en-US') | (books.language_code == 'en-CA') | (books.language_code == 'en-GB'), 'language_code'] = 'eng'

In [89]:
books.language_code.unique()

array(['eng', 'fre', 'spa', 'mul', 'grc', 'enm', 'ger', 'jpn', 'ara',
       'nl', 'zho', 'lat', 'por', 'srp', 'ita', 'rus', 'msa', 'glg',
       'wel', 'swe', 'nor', 'tur', 'gla', 'ale'], dtype=object)

In [90]:
series = books.loc[books.series != 'None',:]

In [92]:
series.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2348 entries, 1 to 45634
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               2348 non-null   object
 1   authors             2348 non-null   object
 2   average_rating      2348 non-null   float64
 3   isbn                2348 non-null   object
 4   isbn13              2348 non-null   int64
 5   language_code       2348 non-null   object
 6   num_pages           2348 non-null   int64
 7   ratings_count       2348 non-null   int64
 8   text_reviews_count  2348 non-null   int64
 9   publication_date    2348 non-null   datetime64[ns]
 10  publisher           2348 non-null   object
 11  series              2348 non-null   object
 12  series_num          2348 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(7)
memory usage: 256.8+ KB

In [91]:
series.sample(10)

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,series,series_num
bookID,,,,,,,,,,,,,
21742,Tripwire,Lee Child/Dick Hill,4.09,1567408346,9781567408348,eng,3,16,3,1999-07-08,Nova Audio Books,Jack Reacher,3
7520,Path of the Assassin,Brad Thor,4.17,141651631X,9781416516316,eng,367,15270,485,2005-07-01,Pocket Books,Scot Harvath,2
28531,Nightsword,Margaret Weis/Tracy Hickman,3.67,034542462X,9780345424624,eng,404,159,5,1999-08-03,Del Rey Fantasy,Starshield,2
16181,The Constant Princess,Philippa Gregory,3.90,0743272498,9780743272490,eng,390,136931,3915,2006-09-06,Washington Square Press,The Plantagenet and Tudor Novels,6
27168,Island Of Bones,P.J. Parrish,4.02,0786016051,9780786016051,eng,384,586,62,2004-01-01,Pinnacle,Louis Kincaid,5
7972,Shadow of the Hegemon,Orson Scott Card/David Birney/Scott Brick/Gabr...,3.95,1593974809,9781593974800,eng,13,109,19,2006-09-05,Macmillan Audio,Shadow,2
14092,Prétear Vol. 2,Junichi Satō/Kaori Naruse,4.00,141390145X,9781413901450,eng,182,347,17,2004-08-24,ADV Manga,Prétear,2
38296,The Last of the Mohicans,James Fenimore Cooper,3.70,0553213296,9780553213294,eng,410,75121,1797,1982-06-01,Bantam Classics,The Leatherstocking Tales,2
32505,The Closers,Michael Connelly,4.13,0446699551,9780446699556,eng,432,29913,1282,2006-10-02,Grand Central Publishing,Harry Bosch,11; Harry Bosch Universe #14
40491,Valley Of Silence,Nora Roberts,4.22,0515141674,9780515141672,eng,318,1372,113,2006-11-01,Berkley Books,Circle Trilogy,3

In [106]:
series[series.series_num == '1']

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,series,series_num
bookID,,,,,,,,,,,,,
14,The Hitchhiker's Guide to the Galaxy,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,2004-08-03,Crown,Hitchhiker's Guide to the Galaxy,1
16,The Hitchhiker's Guide to the Galaxy,Douglas Adams/Stephen Fry,4.22,0739322206,9780739322208,eng,6,1266,253,2005-03-23,Random House Audio,Hitchhiker's Guide to the Galaxy,1
34,The Fellowship of the Ring,J.R.R. Tolkien,4.36,0618346252,9780618346257,eng,398,2128944,13670,2003-09-05,Houghton Mifflin Harcourt,The Lord of the Rings,1
50,Hatchet,Gary Paulsen,3.72,0689840926,9780689840920,eng,208,270244,12017,2000-04-01,Atheneum Books for Young Readers: Richard Jack...,Brian's Saga,1
57,A Changeling for All Seasons,Angela Knight/Sahara Kelly/Judy Mays/Marteeka ...,3.76,1595962808,9781595962805,eng,304,167,4,2005-11-01,Changeling Press,Changeling Seasons,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45455,Artemis Fowl,Eoin Colfer/Ana Alcaina,3.84,8497939204,9788497939201,spa,286,45,3,2006-03-30,DEBOLS!LLO,Artemis Fowl,1
45465,Artemis Fowl,Eoin Colfer/Nathaniel Parker,3.84,1400085918,9781400085910,eng,6,55,14,2004-04-06,Listening Library,Artemis Fowl,1
45492,Northern Lights,Philip Pullman,3.98,0439994128,9780439994125,eng,399,836,62,2001-09-14,Scholastic Press,His Dark Materials,1
45623,O Sobrinho do Mágico,C.S. Lewis/Pauline Baynes/Ana Falcão Bastos,4.04,9722329987,9789722329989,por,147,396,37,2003-04-08,Editorial Presença,As Crónicas de Nárnia,1
45634,The Ice-Shirt,William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,1993-08-01,Penguin Books,Seven Dreams,1