## Assignment:

Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from a Jupyter notebook for the following questions.

In [1]:
#Import needed package
import sqlite3

In [2]:
#Connect to the existing database
try: 
    conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
    print("Connection successful.")
except Error as e:
    print(e)

Connection successful.

**Q10.** Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [3]:
query = "SELECT f.name, (SUM(CASE WHEN firstname = 'GUEST' THEN guestcost*slots ELSE membercost*slots END)-initialoutlay-3*monthlymaintenance) AS rev FROM Bookings INNER JOIN Facilities AS f USING (facid) INNER JOIN Members USING (memid) GROUP BY f.name HAVING rev<1000 ORDER BY rev DESC;"

cursor = conn.execute(query)

for row in cursor:
    print ("Revenue of {}: -${:,.2f}".format(row[0], abs(row[1])))

Revenue of Table Tennis: -$170.00
Revenue of Pool Table: -$175.00
Revenue of Snooker Table: -$255.00
Revenue of Badminton Court: -$2,243.50

**Q11.** Produce a report of members and who recommended them in alphabetic surname, firstname order.

In [4]:
query = "SELECT m2.surname || ', ' || m2.firstname AS member, m1.surname || ', ' || m1.firstname AS recommender FROM Members AS m1 LEFT JOIN Members AS m2 ON m1.memid = m2.recommendedby WHERE member IS NOT NULL ORDER BY m2.surname;"

cursor = conn.execute(query)

for row in cursor:
    print ("Member {} was recommended by {}.".format(row[0], row[1]))

Member Bader, Florence was recommended by Stibbons, Ponder.
Member Baker, Anne was recommended by Stibbons, Ponder.
Member Baker, Timothy was recommended by Farrell, Jemima.
Member Boothe, Tim was recommended by Rownam, Tim.
Member Butters, Gerald was recommended by Smith, Darren.
Member Coplin, Joan was recommended by Baker, Timothy.
Member Crumpet, Erica was recommended by Smith, Tracy.
Member Dare, Nancy was recommended by Joplette, Janice.
Member Genting, Matthew was recommended by Butters, Gerald.
Member Hunt, John was recommended by Purview, Millicent.
Member Jones, David was recommended by Joplette, Janice.
Member Jones, Douglas was recommended by Jones, David.
Member Joplette, Janice was recommended by Smith, Darren.
Member Mackenzie, Anna was recommended by Smith, Darren.
Member Owen, Charles was recommended by Smith, Darren.
Member Pinker, David was recommended by Farrell, Jemima.
Member Purview, Millicent was recommended by Smith, Tracy.
Member Rumney, Henrietta was recommended by Genting, Matthew.
Member Sarwin, Ramnaresh was recommended by Bader, Florence.
Member Smith, Jack was recommended by Smith, Darren.
Member Stibbons, Ponder was recommended by Tracy, Burton.
Member Worthington-Smyth, Henry was recommended by Smith, Tracy.

**Q12.** Find the facilities with their usage by member, but not guests.

In [5]:
query = "SELECT f.name, COUNT(*) AS member_usage FROM Bookings AS b LEFT JOIN Facilities AS f USING(facid) WHERE b.memid!=0 GROUP BY f.name;"

cursor = conn.execute(query)

for row in cursor:
    print("The {} was used by members {} times.".format(row[0], row[1]))

The Badminton Court was used by members 344 times.
The Massage Room 1 was used by members 421 times.
The Massage Room 2 was used by members 27 times.
The Pool Table was used by members 783 times.
The Snooker Table was used by members 421 times.
The Squash Court was used by members 195 times.
The Table Tennis was used by members 385 times.
The Tennis Court 1 was used by members 308 times.
The Tennis Court 2 was used by members 276 times.

**Q13.** Find the facilities usage by month, but not guests.

In [6]:
import datetime

In [7]:
query = "SELECT f.name, strftime('%m', starttime) AS month, COUNT(*) AS member_usage FROM Bookings AS b LEFT JOIN Facilities AS f USING(facid) WHERE memid!=0 GROUP BY f.name, month;"

cursor = conn.execute(query)

for row in cursor:
    print("The {} was used {} times in month {}.".format(row[0], row[2], row[1]))

The Badminton Court was used 51 times in month 07.
The Badminton Court was used 132 times in month 08.
The Badminton Court was used 161 times in month 09.
The Massage Room 1 was used 77 times in month 07.
The Massage Room 1 was used 153 times in month 08.
The Massage Room 1 was used 191 times in month 09.
The Massage Room 2 was used 4 times in month 07.
The Massage Room 2 was used 9 times in month 08.
The Massage Room 2 was used 14 times in month 09.
The Pool Table was used 103 times in month 07.
The Pool Table was used 272 times in month 08.
The Pool Table was used 408 times in month 09.
The Snooker Table was used 68 times in month 07.
The Snooker Table was used 154 times in month 08.
The Snooker Table was used 199 times in month 09.
The Squash Court was used 23 times in month 07.
The Squash Court was used 85 times in month 08.
The Squash Court was used 87 times in month 09.
The Table Tennis was used 48 times in month 07.
The Table Tennis was used 143 times in month 08.
The Table Tennis was used 194 times in month 09.
The Tennis Court 1 was used 65 times in month 07.
The Tennis Court 1 was used 111 times in month 08.
The Tennis Court 1 was used 132 times in month 09.
The Tennis Court 2 was used 41 times in month 07.
The Tennis Court 2 was used 109 times in month 08.
The Tennis Court 2 was used 126 times in month 09.

In [8]:
#Close the connection
conn.close()